@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .video::-webkit-media-controls {
    display: none;
  }

  .card {
    transition: transform 500ms;
    position: relative;
    display: block;
  }

  .movie-section:focus-within .card,
  .movie-section:focus,
  .card {
    transform: translate(-25%);
    z-index: 1;
  }

  .card:focus ~ .card,
  .card:hover ~ .card {
    transform: translateX(25%);
  }

  .movie-section .card:focus,
  .movie-section .card:hover {
    transform: scale(1.5);
    z-index: 1;
  }

  .hero {
    margin-top: -100px;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .logo {
    width: 88px;
    height: 22px;
    background-image: url("https://i.imgur.com/vCUNHOL.png");
    background-size: 88px;
    margin: 5px;
  }
}
